<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <button onclick="sendData()">SEND DATA</button>
    <button onclick="sendDataPl()" style="background-color: green">
      SEND PL
    </button>
    <button onclick="sendBooks()" style="background-color: pink">
      SEND PL
    </button>
  </body>
  <script>
    const data = [];
    const array = [
      // "OF-YSMKCVwMC",
      // "LGuODwAAQBAJ",
      // "loE7BAAAQBAJ",
      // "uhogoENxQhEC",
      // "nFryoQEACAAJ",
      // "Zzl1Wyz1nEcC",
      // "qLhOvbUI30gC",
      // "_txoCgAAQBAJ",
      // "Zeotd-ylKtwC",
      // "Hw33sgEACAAJ",
      // "_yEpYAAACAAJ",
      ////
      // "k7zdAgAAQBAJ",
      // "8Wx_NAEACAAJ",
      // "NwtkcgAACAAJ",
      // "0G4OOQAACAAJ",
      // "tRDJrQEACAAJ",
      // "9K3qDwAAQBAJ",
      // "UxkpvdYikRgC",
      // "122pvtE_TlMC",
      // "SeGd_Ry34_MC",
      // "M7EWrgEACAAJ",
      // "FmXvNjaTvjAC",
      // "Sa9BKiADUtwC",
      ///////
      // "L_D2GoC-eJIC",
      // "w48kmK8CrvEC",
      // "a5ZbngEACAAJ",
      // "KzbobUhvpf4C",
      // "KqaXBgAAQBAJ",
      // "Wd1sPwAACAAJ",
      // "ReSoAAAACAAJ",
      // "OsKWCgAAQBAJ",
      // "omGNswEACAAJ",
      // "GORvTFsr-ywC",
      ///
      // "kQpXAAAAYAAJ",
      // "ZcMhkJ8a708C",
      // "TwZgzgEACAAJ",
      // "EuGhAAAACAAJ",
      // "8xzUDwAAQBAJ",
      // "5otsAwAAQBAJ",
      // "ujmM2udgESgC",
      // "IkZwQAAACAAJ",
      // "dhbsoQEACAAJ",
      // "gSEiwQEACAAJ",
      // "D4FbCwAAQBAJ",
      // "phUmAQAAMAAJ",
      // "KuU9swEACAAJ",
      // "TiIFMQAACAAJ",
      // "qfVoAgAACAAJ",
      // "2xfvrQEACAAJ",
      // "HTfTwXK38YMC",
      /////
      // "UuErHQAACAAJ",
      // "1UslBQAAQBAJ",
      // "npi2DwAAQBAJ",
      // "ySKQtAEACAAJ",
      // "RqMBQAAQBAJ",
      // "70EoDwAAQBAJ",
      // "CM_XDwAAQBAJ",
      // "JducswEACAAJ",
      // "C-fywAEACAAJ",
      // "WNTT_8NW_qwC",
      // "fUnVhSgwnfUC",
      // "NETMsgEACAAJ",
      // "nkOsBQAAQBAJ",
      //////
      // "sYc-DwAAQBAJ",
      // "_UORBQAAQBAJ",
      // "HIlSswEACAAJ",
      // "usEBAAAACAAJ",
      // "PmO5tQEACAAJ",
      // "epfhDAAAQBAJ",
      // "0nXYswEACAAJ",
      // "P3sjvgAACAAJ",
      // "RnkLtAEACAAJ",
      // "xg54vgAACAAJ",
      // "GS0itQEACAAJ",
      // "a6kGEAAAQBAJ",
      // "dfXhzQEACAAJ",
      // "BUJvDAAAQBAJ",
      //////
      // "lq92vgAACAAJ",
      // "AAoszgEACAAJ",
      // "xWK39TOe5S8C",
      // "Y3QEDgAAQBAJ",
      // "YQoJyFlm3A4C",
      // "I14qrbWESM8C",
      // "P4qRDwAAQBAJ",
      // "MY-xg5sQw9oC",
      // "71TUwAEACAAJ",
      // "4xUZDQAAQBAJ",
      // "FeacDwAAQBAJ",
      // "N6HSDQAAQBAJ",
      // "hg6X6d0n7NUC",
      // "BTlrDQAAQBAJ",
      // "2TNTDwAAQBAJ",
      // "JE5OtQAACAAJ",
      ///
      // "xOoqvgAACAAJ",
      // "loxLBAAAQBAJ",
      // "0b10vwEACAAJ",
      // "Qwp0AwAAQBAJ",
      // "1lHzjwEACAAJ",
      // "dw8_CgAAQBAJ",
      // "FGaXuAAACAAJ",
      // "CVGoDwAAQBAJ",
      // "_KqYeOcXiq4C",
      // "kE2k36XAkv4C",
      // "YHPcDAAAQBAJ",
      // "vEanzQEACAAJ",
      // "Yek4YWTZFjgC",
      // "TbC8AAAAQBAJ",
      // "0-o2vQEACAAJ",
      ////
      // "VuznjgEACAAJ",
      // "hsDGAwAAQBAJ",
      // "fG1yQgAACAAJ",
      // "qYOXBQAAQBAJ",
      // "wt-z-c-xHsoC",
      // "8nRJDwAAQBAJ",
      // "ASTCAAAAQBAJ",
      // "pdsjQoZx7goC",
      // "enoUAQAAIAAJ",
      // "LStFea4gbmkC",
      // "Pzigv2umDpEC",
      // "cC4uAgAAQBAJ",
      // "YOJhCAAAQBAJ",
      // "BR1yDQAAQBAJ",
      // "yiDhCQAAQBAJ",
      // "bP2zBAAAQBAJ",
      //////
      // "Q9ny1fVppAEC",
      // "wWiHoAEACAAJ",
      // "U5rIPC1UgsgC",
      // "Q6JZCgAAQBAJ",
      // "GB7SoQEACAAJ",
      // "9Mn8CQAAQBAJ",
      // "mjQAAebtAmEC",
      // "ebantBj7DxkC",
      // "JGy2AgAAQBAJ",
      // "2M6eOAAACAAJ",
      // "XxgrnwEACAAJ",
      // "lLqKAgAAQBAJ",
      // "PtmxxAEACAAJ",
      // "Dis7jgEACAAJ",
      //////
      // "MipHAwAAQBAJ",
      // "tI-zB0IXUxEC",
      // "VlWLDgAAQBAJ",
      // "l5jsAAAACAAJ",
      // "XQTPDwAAQBAJ",
      // "XQTPDwAAQBAJ",
      // "w3zroAEACAAJ",
      // "LSjNoAEACAAJ",
      // "XCIaAAAAMAAJ",
      // "vvlnXwAACAAJ",
      // "pSJll97sn-sC",
    ];

    console.log(array.length);
    // const playList = async () => {
    //   const req = await fetch(
    //     `https://www.googleapis.com/youtube/v3/playlistItems?playlistId=${`PLrNhO2iPYVJXIBGwlwVXJHo4cEi4qlfa5`}&key=AIzaSyBoQ6N3fthUF2I6doUZUGPHkgInx_NYf-4&part=snippet&maxResults=50&pageToken=EAAaB1BUOkNKWUI`
    //   );
    //   const vids = await req.json();
    //   vids.items.forEach((video) => {
    //     data.push(video.snippet);
    //   });
    //   console.log(data);
    //   console.log(vids);
    //   //data.push({ video: { info: vids.items[0].snippet, link: item } });
    // };

    // array.forEach(async (item, index) => {
    //   const iid = item.split("be/")[1];
    //   //const ID = iid.split("?")[0]; if there is time param
    //   const req = await fetch(
    //     `https://www.googleapis.com/youtube/v3/videos?id=${iid}&key=AIzaSyBoQ6N3fthUF2I6doUZUGPHkgInx_NYf-4&part=snippet`
    //   );
    //   const vids = await req.json();
    //   data.push({ video: { info: vids.items[0].snippet, link: item } });
    //   console.log(vids + "for link: " + index);
    //   console.log(data.length);
    // });

    // const sendData = async () => {
    //   fetch("/data", {
    //     method: "POST",
    //     headers: {
    //       "Content-Type": "application/json",
    //     },
    //     body: JSON.stringify(data),
    //   });
    // };

    // const sendDataPl = async () => {
    //   fetch("/data-pl", {
    //     method: "POST",
    //     headers: {
    //       "Content-Type": "application/json",
    //     },
    //     body: JSON.stringify(data),
    //   });
    // };
    // array.forEach(async (bookId) => {
    //   const req = await fetch(
    //     `https://www.googleapis.com/books/v1/volumes/${bookId}?key=AIzaSyAEpqK0uwBfvOn6RY-5ZNIXugusX-7TUgU`
    //   );
    //   const book = await req.json();
    //   data.push(book);
    // });
    // console.log(data);
    // const sendBooks = async () => {
    //   const req = await fetch("/books", {
    //     method: "POST",
    //     headers: {
    //       "Content-Type": "application/json",
    //     },
    //     body: JSON.stringify(data),
    //   });
    // };
  </script>
</html>
